


#about{
    background-color: #ada292;
}

h2{
    font-family: 'BohrDonni', sans-serif;
    font-size: 100px;

}

img{
    size: 10%;
}

p{
    font-family: 'BohrDonni', sans-serif;
    font-size: 30px;

}

.buy {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    text-align: center;
    /* margin-bottom: 10%;
    margin-top: 2%; */
    padding: 100px;
}