/* body, html {
    height: 100%;
    width: 100%; 
    margin: 0; 
} */

body {
/*     font-family:'BohrDonni',Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
}

#home {
  text-align: center;
  size: 200%;
}

.NYintro {
    background-image: url("banner_new_york.jpeg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img_car {
    border-radius: 50%;
}

.testimonial-text {
    line-height: 1.5;
    padding: 40px 100px 40px 100px;
    font-family: 'BohrDonni', sans-serif;
    font-size: 2rem;
  }
  
.testimonial-image {

    width: 20%;
    border-radius: 100%;
    margin: 20px;
  }

.testimonial-carousel {
    text-align: center;
    height: 100vh;
}

h1{
    font-family: 'BohrDonni', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    padding: 50px;
}

.quote_img{
    max-height: 100vh;
    max-width: 100vh;
}

.card-text{
    font-family: 'BohrDonni', sans-serif;
    font-size: 20px;
}

.about-text{
    font-family: 'BohrDonni', sans-serif;
    font-size: 2rem;
    text-align: left;
    padding-top: 20vh;
}

@media only screen and (max-width: 767px) {
    .about-text {
        padding-top: 40px;
        padding-bottom: 40px;
    }
  }

#legends{
    background-color:#eaded2;
}
